<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>

    <form action="/smol" method="POST">
        <input required=true type="url" placeholder="Enter URL" name="bigUrl" id="bigUrl">
        <button type="submit">Smol</button>
    </form>
    <br>
    <hr>
    <br>
    
     <% shortUrls.forEach(shortUrl => { %> 
        <p><a href="<%= shortUrl.big %> "> <%= shortUrl.big %>  </a> <%= shortUrl.smol %>  </p>
         <br>
    <%}); %> 
</body>
</html>